/* NAVBAR */
.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 40px;
background:linear-gradient(to right,#2d6cdf,#1e5bb8);
color:white;
}

/* LEFT */
.nav-left{
display:flex;
align-items:center;
gap:10px;
}

.brand{
font-weight:bold;
font-size:20px;
}

/* RIGHT */
.nav-right{
display:flex;
align-items:center;
gap:15px;
margin-left:auto; /* PUSHES RIGHT */
}

/* LINKS */
.nav-right a{
color:white;
text-decoration:none;
font-weight:500;
}

/* BUTTONS */
.login-btn{
background:white;
color:black;
border:none;
padding:8px 15px;
border-radius:6px;
font-weight:bold;
}

.register-btn{
background:#28a745;
color:white;
border:none;
padding:8px 15px;
border-radius:6px;
font-weight:bold;
}

.moon-btn{
background:transparent;
border:1px solid white;
color:white;
padding:6px 10px;
border-radius:6px;
}
